<!DOCTYPE html>
<html>
<head>
    <title>Food Preference Survey</title>
</head>
<body>
    <h1>Food Preference Survey</h1>
    <form method="POST" action="/submit">
        {% for i in range (questions|length)%}
	<p>{{questions[i]}}</p>
            <input type="radio" name="question_{{ i }}" value="Yes"> Yes<br>
            <input type="radio" name="question_{{ i }}" value="No"> No<br>
            <input type="radio" name="question_{{ i }}" value="Neutral"> Neutral<br>
        {% endfor %}
        <input type="submit" value="Submit Answers">
    </form>
</body>
</html>
